{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "tailwindCSS": {
    "config": "./tailwind.config.js",
    "format": "auto",
    "sortOrder": "default",
    "groupByResponsive": true,
    "groupByVariant": true,
    "removeDuplicates": true,
    "removeTailwindMarkers": false
  }
}
